nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;    
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

form button{
    padding: 5px 30px 5px 30px;
    background-color: #f1c40f;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

form input{
    padding: 5px 130px 5px 10px;
    margin-bottom: 10px;
}

.nav-link a{
    text-decoration: none;
    font: 1em sans-serif;
    color: #302e2e;
    padding: 0px 50px 0px 50px;
}

.logo{
    width: 100%;
    min-height: auto;
    max-height: 40px;
}

.char{
    display: grid;    
    grid-template-columns: 2;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
}

#title{
    text-align: center;
}

